<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.lingoappTcc">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/title_nome_lingoapp"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Lingoapp1">

        <activity
            android:name=".atividades.cadastroelogin.PaginaInicialActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".atividades.cadastroelogin.PaginaCadastroActivity"
            android:exported="true" />
        <activity
            android:name=".atividades.cadastroelogin.CadastroEstudante1Activity"
            android:exported="true" />
        <activity
            android:name=".atividades.cadastroelogin.CadastroEstudante2Activity"
            android:exported="true" />
        <activity
            android:name=".atividades.cadastroelogin.CadastroProfessor1Activity"
            android:exported="true" />
        <activity
            android:name=".atividades.cadastroelogin.CadastroProfessor2Activity"
            android:exported="true" />
        <activity
            android:name=".atividades.cadastroelogin.ConfirmarEmailActivity"
            android:exported="true" />
        <activity
            android:name=".atividades.cadastroelogin.LoginEstudanteActivity"
            android:exported="true" />
        <activity
            android:name=".atividades.cadastroelogin.LoginProfessorActivity"
            android:exported="true" />
        <activity
            android:name=".atividades.cadastroelogin.RecuperarSenhaActivity"
            android:exported="true" />
        <activity
            android:name=".atividades.turmas.AbaTurmasEstudanteActivity"
            android:exported="true" />
        <activity
            android:name=".atividades.atividades.AbaAtividadesEstudanteActivity"
            android:exported="true" />
        <activity
            android:name=".atividades.perfil.AbaPerfilEstudanteActivity"
            android:exported="true" />
        <activity
            android:name=".atividades.turmas.AbaTurmasProfessorActivity"
            android:exported="true" />
        <activity
            android:name=".atividades.atividades.AbaAtividadesProfessorActivity"
            android:exported="true" />
        <activity
            android:name=".atividades.perfil.AbaPerfilProfessorActivity"
            android:exported="true" />
        <activity
            android:name=".atividades.turmas.CriarTurmaProfessorActivity"
            android:exported="true" />
        <activity
            android:name=".atividades.turmas.DesempenhoEstudanteActivity"
            android:exported="true" />
        <activity
            android:name=".atividades.turmas.GerenciarTurmaActivity"
            android:exported="true" />
        <activity
            android:name=".atividades.turmas.ParticiparTurmaEstudanteActivity"
            android:exported="true" />
        <activity
            android:name=".atividades.turmas.RespostasAtividadeActivity"
            android:exported="true" />
        <activity
            android:name=".atividades.turmas.TurmaSelecionadaActivity"
            android:exported="true" />
        <activity
            android:name=".atividades.atividades.AtividadesAluno2Activity"
            android:exported="true" />
        <activity
            android:name=".atividades.atividades.AtividadesAlunoActivity"
            android:exported="true" />
        <activity
            android:name=".atividades.atividades.AtividadesProfessorActivity"
            android:exported="true" />
        <activity
            android:name=".atividades.atividades.CriarAtividadeActivity"
            android:exported="true" />
        <activity
            android:name=".atividades.atividades.EditarAtividadeActivity"
            android:exported="true" />
        <activity
            android:name=".atividades.atividades.PagTarefaAlunoActivity"
            android:exported="true" />
        <activity
            android:name=".atividades.atividades.VizuTarefaProfActivity"
            android:exported="true" />
        <activity
            android:name=".atividades.perfil.AlterarDadosEstudanteActivity"
            android:exported="true" />
        <activity
            android:name=".atividades.perfil.AlterarDadosProfessorActivity"
            android:exported="true" />
        <activity
            android:name=".atividades.perfil.ConquistasEstudanteActivity"
            android:exported="true" />
        <activity
            android:name=".atividades.perfil.HistoricoAtividadesEstudanteActivity"
            android:exported="true" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>